<h1>Welcome to your Address Book!</h1>
<h3>Here you can view your current contacts, add new contacts, and clear all of your contacts.</h3>
@if(@Model.Count == 0)
{
  <p>There are no Contacts!</p>
  <p>Here is an example contact:</p>
  <ul>
    <li>Jon Jorts</li>
    <li>I-(WEA)-REJ-ORTS</li>
    <li>1437 Jorts Ln</li>
    <li>Cutoff, OR 97211</li>
    <li>gottaHaveJorts@whoNeedsPants.com</li>
  </ul>

  <p><a href="/contact">Add a new Contact!</a></p>
}
@if(@Model.Count != 0)
{
  <!-- <p>Click on a contact to view their information:</p> -->
  <ul>
    @foreach (var contact in @Model)
    {
      <li>@contact.GetName()</li>
    }
  </ul>

  <p><a href="/contact">Add a new Contact!</a></p>

  <form class="form-control" action="/contact/clear" method="post">
    <button type="submit" name="button">CLEAR ALL CONTACTS</button>
  </form>
}
