@{
  Layout="Shared/_Layout.cshtml";
}


<h3>Address Book Cleared!</h3>

<p>Uh oh, it seems that you are burning some bridges!</p>

<p>Don't worry too much about deleting all of your friends, I'm sure you can make new ones. Thats what Facebook, instagram, myspace, imgur, reddit, twitter, etc are for!</p>


<p><a href="/">Back to the Home Page!</a></p>
