@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Invalid Entry, Please Try Again!</h3>
<div class="contactDetails">
  <p>Possible Issue:</p>
  <ul>
    <li>First Name must be entered, and must be a string</li>
    <li>Zip Code must be numbers only</li>
  </ul>
</div>
<p><span class="newContact"><a href="/contact">Add new Contact!</a></span></p>
<p><span class="backHome"><a href="/">Back to the Home Page</a></span></p>
